.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.header__container {
  display: flex;
  padding: 0 15px;
  min-height: 102px;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
}
.menu__item:not(:last-child) {
  margin: 0px 40px 0px 0px;
}
.menu__item.search-icon {
  background: url("/img/search.svg") left no-repeat;
  padding-left: 34px;
}
.menu__link {
  color: #fff;
  line-height: 150%;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__icon:not(:last-child) {
  margin-right: 26px;
}

.first-screen {
  background-image: url(../img/bgc.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.first-screen__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 600px 15px 0 15px;
}
.first-screen__title {
  margin-bottom: 50px;
}
.first-screen__button:not(:last-child) {
  margin-bottom: 80px;
}
.first-screen__divider {
  height: 1px;
  background-color: #fff;
  width: 100vw;
}
.first-screen__brand {
  margin: 30px 0;
}

.brand {
  display: flex;
}
.brand__item:not(:last-child) {
  margin-right: 14px;
  padding-right: 15px;
  border-right: 1px solid white;
}

.brand__img {
  width: 160px;
  height: 60px;
}

.title__first {
  font-family: "Noto Serif";
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.36;
}

.second-screen__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-screen__subtitle {
  margin-bottom: 15px;
}
.second-screen__title {
  margin-bottom: 60px;
}
.second-screen__category {
  margin-bottom: 61px;
}
.second-screen__card {
  margin-bottom: 120px;
}

.category {
  display: flex;
}
.category__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 55px;
  border: 1px solid #d6d6d6;
  box-shadow: 5px 5px #f9f9f9, 5px 5px 0 1px #d6d6d6;
}
.category__item:hover {
  box-shadow: 5px 5px #d6d6d6;
}
.category__item_active {
  height: 61px;
  color: #fff;
  background-color: #333333;
  box-shadow: none !important;
}
.category__item:not(:last-child) {
  margin-right: 24px;
}
.category__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-wrap: wrap;
}
.card__item {
  margin-bottom: 30px;
}
.card__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.card__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.item-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 350px;
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
}
.item-card:hover {
  opacity: 0.7;
  transition: 0.7s;
}
.item-card__rings {
  background-image: url(../img/cards/rings.png);
}
.item-card__earrings {
  background-image: url(../img/cards/earrings.png);
}
.item-card__pendants {
  background-image: url(../img/cards/pendants.png);
}
.item-card__cufflinks {
  background-image: url(../img/cards/cufflinks.png);
}
.item-card__bracelets {
  background-image: url(../img/cards/bracelets.png);
}
.item-card__watch {
  background-image: url(../img/cards/watch.png);
}

.salons {
  background-image: url(../img/bgc-black.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.salons__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 15px;
}
.salons__subtitle {
  margin-bottom: 15px;
}
.salons__title {
  margin-bottom: 45px;
}
.salons__text {
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
  font-size: 17px;
  line-height: 140%;
  max-width: 730px;
}

.blog {
  padding: 120px 15px;
}
.blog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__subtitle {
  margin-bottom: 15px;
}
.blog__title {
  margin-bottom: 60px;
}
.blog__articles {
  margin-bottom: 60px;
}
.articles-blog {
  display: flex;
  gap: 30px;
}
.articles-blog__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 350px;
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat;
}
.articles-blog__item:hover {
  opacity: 0.7;
  transition: 0.7s;
}
.articles-blog__item_1 {
  background-image: url(../img/articles/01.png);
}
.articles-blog__item_2 {
  background-image: url(../img/articles/02.png);
}
.articles-blog__item_3 {
  background-image: url(../img/articles/03.png);
}
.articles-blog__text {
  margin-bottom: 35px;
  max-width: 210px;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  color: #ffffff;
  text-align: center;
}

.social {
  padding: 0 15px 150px 15px;
}
.social__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social__subtitle {
  margin-bottom: 15px;
}
.social__title {
  margin-bottom: 60px;
}
.social__galery {
  display: flex;
  flex-wrap: wrap;
}

.galery-social__item {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.galery-social__image {
  display: block;
  transition: 1s;
  height: 300px;
}
.galery-social__image:hover {
  transform: scale(1.2);
}
.galery-social__image_1 {
  width: 555px;
}
.galery-social__image_2 {
  width: 278px;
}
.galery-social__image_3 {
  width: 277px;
}
.galery-social__image_4 {
  width: 278px;
}
.galery-social__image_5 {
  width: 277px;
}
.galery-social__image_6 {
  width: 555px;
}
.galery-social__icon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
}

.subscribe {
  background-image: url(../img/bgc-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 15px 120px 15px;
}
.subscribe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__subtitle {
  margin-bottom: 15px;
}
.subscribe__title {
  margin-bottom: 60px;
}
.subscribe__main {
  display: flex;
  gap: 95px;
}
.list-subscribe {
  color: #fff;
}
.list-subscribe__item {
  font-size: 18px;
  line-height: 140%;
  background: url("/img/subscribe/icon.svg") left no-repeat;
  padding-left: 37px;
}
.list-subscribe__item:not(:last-child) {
  margin-bottom: 15px;
}

.form-subscribe {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0 22px;
  outline: 1px solid #fff;
  outline-offset: 14px;
  gap: 15px;
}
.form-subscribe__input input {
  padding: 16px 20px 17px 20px;
  border: 1px solid #d6d6d6;
  outline: none;
}
.form-subscribe__input input::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}
.form-subscribe__input input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}
.form-subscribe__input input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}
.footer {
  padding: 115px 15px 10px 15px;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__main {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}
.footer__list {
  margin-bottom: 10px;
}
.footer__divider {
  width: 100%;
  height: 1px;
  background-color: #333333;
  margin-bottom: 20px;
}
.list-footer {
  flex: 0 1 25%;
}
.list-footer__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.list-footer__divider {
  width: 100%;
  height: 1px;
  background-color: #333333;
  margin-bottom: 30px;
}
.list-footer__item {
  line-height: 150%;
}
.list-footer__item:not(:last-child) {
  margin-bottom: 15px;
}
.list-footer__item_icons {
  display: flex;
  gap: 20px;
}
.list-footer__item_payment {
  padding-bottom: 10px;
}
.list-footer__item_social {
  padding-bottom: 10px;
}
.list-footer__link:hover {
  text-decoration: underline;
}
.list-footer__contact {
  padding-left: 40px;
}
.list-footer__contact_1 {
  background: url("/img/footer/phone.svg") left no-repeat;
}
.list-footer__contact_2 {
  background: url("/img/footer/phone.svg") left no-repeat;
}
.list-footer__contact_3 {
  background: url("/img/footer/email.svg") left no-repeat;
}
.list-footer__icon_payment {
  width: 45px;
  height: 30px;
}

.copyright-footer {
  display: flex;
  gap: 185px;
}
.copyright-footer__item:hover {
  text-decoration: underline;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333333;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #f9f9f9;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1110px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.button {
  color: #fff;
  background: #333333;
  border: 1px solid #ffffff;
  padding: 15px 35px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background: #1d1d1d;
}
.button_white {
  color: #333333;
  background: #ffffff;
}
.button_white:hover {
  background: #e5e5e5;
}

.title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}
.title_white {
  color: #ffffff;
}

.subtitle {
  font-size: 21px;
  line-height: 140%;
}
.subtitle_white {
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */