.second-screen {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__category {
    margin-bottom: 61px;
  }

  &__card {
    margin-bottom: 120px;
  }
}
.category {
  display: flex;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 55px;
    border: 1px solid $gray;
    box-shadow: 5px 5px $main, 5px 5px 0 1px $gray;
    &_active {
      height: 61px;
      color: #fff;
      background-color: $accent;
      box-shadow: none;
    }
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
.card {
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin-bottom: 30px;
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }
}
.item-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 350px;
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  &__rings {
    background-image: url(../img/cards/rings.png);
  }

  &__earrings {
    background-image: url(../img/cards/earrings.png);
  }

  &__pendants {
    background-image: url(../img/cards/pendants.png);
  }

  &__cufflinks {
    background-image: url(../img/cards/cufflinks.png);
  }

  &__bracelets {
    background-image: url(../img/cards/bracelets.png);
  }

  &__watch {
    background-image: url(../img/cards/watch.png);
  }
}
