@import "variables";
@import "header";
@import "first-screen";
@import "second-screen";
@import "salons";
@import "blog";
@import "social";
@import "subscribe";

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $accent;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: $accent;
  background-color: $main;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1110px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.button {
  color: #fff;
  background: $accent;
  border: 1px solid #ffffff;
  padding: 15px 35px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &_white {
    color: $accent;
    background: #ffffff;
  }
}

.title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  &_white {
    color: #ffffff;
  }
}

.subtitle {
  font-size: 21px;
  line-height: 140%;
  &_white {
    color: #ffffff;
  }
}
